<h2>Post new Job</h2>

<%= form_for(@job, multipart: true) do |f| %>
      <p>
        <%= f.label :task_title,"Task Title" %>
        <%= f.text_field :task_title, :required => true %>
      </p>
      <p>Please add the categories related to your job.
            <%= hidden_field_tag "job[category_ids][]", nil %>
              <% Category.all.each do |category| %>
                <div class="button"><%= check_box_tag "job[category_ids][]", category.id, @job.category_ids.include?(category.id), id: dom_id(category) %><%= label_tag dom_id(category), category.name %></div>
            <% end %>
      </p>
      <p>
        <%= f.label :task_description,"Task Description" %>
        <%= f.text_field :task_description, :required => true %>
      </p>
      <p>
        <%= form_tag jobs_path, :method => :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= f.label :task_location, "Location of job" %>
        <%= f.text_field :task_location, :required => true %>
      </p>





      <p>
        <%= f.label :due_date, "Date of job" %>
        <%= f.date_field :due_date, :required => true %>
      </p>

      <p>
        <%= f.label :start_time, "Time of job" %>
        <%= f.time_field :start_time %>
      </p>

      <p>
        <%= f.label :workers_required, "Workers required" %>
        <%= f.text_field :workers_required %>
      </p>
      <p>
        <%= f.label :budget, "Budget" %>
        <%= f.text_field :budget, :required => true %>
      </p>
      <p>
        <%= f.label :images %>
        <%= f.file_field :images, :multiple => true %>
      </p>
      <button class="btn waves-effect waves-light" type="submit" name="action">
  <i class="material-icons right">Post Job</i>
</button>
      <!-- <%#= f.submit "Submit" %> -->
<% end %>
