<!-- Including Template to show user_Ratings/review -->
<div id="rating"> This job is complete - Please rate this user
  <%= form_for @rating, :url => rate_user_path(@job.id) do |f| %>
    <p>
      <%= f.collection_select :user_id, @job.applicants, :user_id, :name %>

    </p>
    <p>
      <%= f.label :score %>
      <%= f.text_field :score, :required => true %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_field :body %>
      <% f.hidden_field :user_id %>
    </p>
    <p id="submit_offer">
      <%= f.submit "Submit" %>
    </p>
  <% end %>
</div>
