<body>
  <div class="container">
    <!-- Page Content goes here -->


<ul>
  <% @jobs.each do |a| %>
    <li>
        <p>Job Title: <%= link_to( a.task_title, "/jobs/#{a.id}" ) %></p>
        <p><%= image_tag( a.images ) %></p>
        <p>Task Location: <%= a.task_location %></p>
        <p>Budget: <%= "$#{a.budget}" %></p>

        <p>
          <% if a.categories.count == 0 %>
            No categories
            <% else %>Categories: <% a.categories.each do |b| %>
            <a class="button" <%= link_to(b.name, category_path(b)) %></a>
            <% end %> <br>
          <% end %>
        </p>

    </li>
  <% end %>
</ul>
</div>
</body>
