<div id="buttons"></div>

<body>

<!-- geocoder -->
  <%= form_tag jobs_path, :method => :get do %>
    <p class ="text_field_tag">
      <%= text_field_tag :search, params[:search], :placeholder => "Enter Address"  %>
      </p>
      <p class ="number_field_tag">
      <%= number_field_tag :distance, params[:distance], :placeholder => "Distance"  %>
      </p>
      <p class ="search_by_location">
      <%= submit_tag "Search Near", :name => nil %>
      </p>
  <% end %>
  <!-- geocoder -->


  <div class="recipe-details">
  <% @jobs.each do |a| %>
  <div class="card small" id= "cardsmall">

        <h5>Job Title: <%= link_to( a.task_title, "/jobs/#{a.id}" ) %></h5>
          <%= cl_image_tag(a.images.first) %>

        <div class ="thumbnail_image">

          <p>Location: <%= a.task_location %></p>
          <p>Budget: <%= "$#{a.budget}" %></p>
          <p>Posted by: <%= a.user.name %></p>
  </div>
    <br>
    <% if a.categories.count == 0 %>
      No categories
      <% else %>Categories: <% a.categories.each do |b| %>
      <a class="button" <%= link_to(b.name, category_path(b)) %></a>
      <% end %> <br>
    <% end %>


  </div>
  <% end %>
  </div>
