<div id="buttons">
  <button class="all">Show All</button>
  <% Category.all.each do |category| %>
    <button class="<%= category.slug %>"><%= category.name %></button>
  <% end %>

</div>

<body>


<!-- geocoder -->
  <%= form_tag jobs_path, :method => :get do %>
    <p class ="text_field_tag">
      <%= text_field_tag :search, params[:search], :placeholder => "Enter Address"  %>
      </p>
      <p class ="number_field_tag">
      <%= number_field_tag :distance, params[:distance], :placeholder => "Distance"  %>
      </p>
      <p class ="search_by_location">
      <%= submit_tag "Search Near", :name => nil %>
      </p>
  <% end %>
  <!-- geocoder -->


<div class="cards">
  <% @jobs.each do |a| %>
    <div class="card small <%= a.slugs %>" id= "cardsmall">

      <div class="user">
        <%= cl_image_tag(a.user.image) %>
        <p>Posted by: <%= link_to(a.user.name, user_path(a.user)) %></p>
        <p>Rating: <%= a.user.ratings.average(:score) %></p>
      </div>

      <p><%= link_to( a.task_title, "/jobs/#{a.id}" ) %> | Status: <span><%= a.status_c %></span></p>
      <p>Applied by <%= pluralize(a.applicants.length, "person") %></p>
      <p>Location: <%= a.task_location %></p>
      <p>Budget: <%= "$#{a.budget}" %></p>


    <% if a.categories.count == 0 %>
      No categories
    <% else %>
      Categories: <% a.categories.each do |b| %>
      <a class="button" <%= link_to(b.name, category_path(b)) %></a>
      <% end %>
      <br>
    <% end %>

    </div>
  <% end %>
</div>
