<h2>All jobs posted</h2>


<%= link_to "Post New",new_job_path %>
<ul>
  <% @jobs.each do |a| %>
    <li>
        <p>Job Title: <%= link_to( a.task_title, "/jobs/#{a.id}" ) %></p>
        <p><%= image_tag( a.images ) %></p>
        <p>Task Location: <%= a.task_location %></p>
        <p>Budget: <%= "$#{a.budget}" %></p>
    </li>
  <% end %>
</ul>
