<body>




  <div class="recipe-details">
  <% @jobs.each do |a| %>
  <div class="recipe">
        <h5>Job Title: <%= link_to( a.task_title, "/jobs/#{a.id}" ) %></h5>
        <%= cl_image_tag(a.images.first) %>
        <!-- <img class="each_image" src="" style='width:150px;height:150px;border-radius:50%;margin-left:10px;margin-right:10px;'> -->
        <br>

        <p>Task Location: <%= a.task_location %></p>
        <p>Budget: <%= "$#{a.budget}" %></p>


      
          <% if a.categories.count == 0 %>
            No categories
            <% else %>Categories: <% a.categories.each do |b| %>
            <a class="button" <%= link_to(b.name, category_path(b)) %></a>
            <% end %> <br>
          <% end %>

        <%= link_to "view job", job_path( a.id ), :method => :get ,:class => "waves-effect waves-light btn"%>
  </div>
  <% end %>
  </div>

</body>
