<div class="controls">
  <% if @current_user.id == @job.user_id %>
  <%= link_to "Edit work", edit_job_path( @job.id ) %>
  <%= link_to "Delete work", @job, :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
  <% end %>
<p>Job Title: <%= @job.task_title %></p>

<div class="scroller">
  <% @job.images.each do |image| %>
    <%= cl_image_tag(image) %>
  <% end %>
</div>

<p>Description: <%= @job.task_description %></p>
<p>Task Location: <%= @job.task_location %></p>
<p>Date of Job: <%= @job.due_date %></p>
<p>Time of Job: <%= @job.start_time %></p>
<p>No. of people Required: <%= @job.workers_required %></p>
<p>Budget: <%= "$#{@job.budget}" %></p>

<% if @job.categories.count == 0 %>
  No Categories
  <% else %>Categories: <% @job.categories.each do |b| %>
    <a class="button" <%= link_to(b.name, category_path(b)) %></a>
  <% end %><br>
<% end %>

<% if @job.user %>
  <p>Job Posted By: <%= link_to(@job.user.name, @job.user) %></p>
<% end %>

<!-- Tweet link -->
<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- Display Job Status -->
<div class="status">
  <p>
    Status: <span><%= @job.status_c %></span>
  </p>
</div>

<!-- If the user is looking for a job(employee), show the make an offer button and form -->
<% if @current_user.employee? %>
  <div class="button" id="makeAnOffer">
    Make an Offer
  </div>
<% end %>

<!-- Form is creating an application for the current job -->
  <div id="offer">
    <%= form_for([@job, @applicant], remote: true) do |f| %>
      <p>
        <%= f.label :quote %>
        <%= f.text_field :quote, :required => true %>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </p>
      <p id="submit_offer">
        <%= f.submit "Submit" %>
      </p>
    <% end %>
  </div>
      <!-- geocoder  -->
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=850x300&sensor=false&zoom=16&markers=#{@job.latitude}%2C#{@job.longitude}",:class => "map-geocoder" %>

      <h3>Nearby Jobs</h3>
      <ul>
      <% for job in @job.nearbys(10) %>
        <li><%= job.task_title%> <%= link_to job.task_location, job %> (<%= job.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
      <!-- geocoder -->

      <% if @job.categories.count == 0 %>
        No Categories
        <% else %>Categories: <% @job.categories.each do |b| %>
          <a class="button" <%= link_to(b.name, category_path(b)) %></a>
        <% end %><br>
      <% end %>

<!-- underscore Template to display offer data -->
  <script type="underscore/template" id="offerDisplayTemplate">
    <p>Your Quote: <%%= quote %></p>
    <p>Your Description: <%%= description %></p>
  </script>

<!-- If the user is an employer, show people who have applied for the job, and choose an applicant. -->
<% if @current_user.employer? %>
  <div id="applicants">
    <p>
      This job has been applied by <%= @job.applicants.length %> people
    </p>
    <% if @job.applicants.length > 0 %>
      <% @job.applicants.each do |a| %>
        <span> <%= link_to(a.user.name, a.user) %> </span>
      <% end %>
    <% end %>

    <!-- Select an applicant only if there're more than 0 applicant-->
    <% if @job.applicants.length > 0 && @current_user.id === @job.user.id %>
      <div id="select_applicant">
        <p id="job_id"><%= @job.id %></p>
        <!-- Sending an update request to job_controller. Using remote:true to include aJax request within this form -->
        <%= form_for(@job, remote: true, format: :json) do |f| %>
        <p>
          <%= f.label :select_an_applicant %>
          <%= f.collection_select(:applicant_id, @job.applicants, :id, :name) %>
          <%= f.submit "Submit" %>
        </p>
        <% end %>

        <!-- Underscore Template to display data -->
          <script type="underscore/template" id="applicantDisplayTemplate">
            <p>This job is taken by <%%= applicant.name %></p>
          </script>

      </div>
    <% end %>

  </div>
<% end %>

  <% if @job.completed?%>
    <%= render( :partial => "job_rating" ) %>
    <%= render( :partial => "user_rating" ) %>
  <% end %>

<table>
<h5>Comments</h5>
  <tr>
    <td>
      <%= render @job.comments.order("created_at ASC") %>
        <h3>Add a comment below:</h3>
      <%= render 'comments/form' %>
  </td>
</tr>
</table>
