<div class="form">
  <%= form_for(@user, :html => {:multipart => true}) do |f| %>
    <% if @current_user.admin? %>
    <p>
      <%= f.label :role %>
      <%= f.select(:role, [['Admin', 'admin'], ['Teacher', 'teacher'], ['Family Member', 'family_member']]) %>
    </p>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, :requred => true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :required => true %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :required => true %>
    </p>
    <!-- <p>
      <%#= f.label :image %>
      <%#= f.cl_image_upload :image %>
    </p> -->
    <%= f.submit %>
  <% end %>
</div>
