<div class="form">
  <%= form_for(@user, :html => {:multipart => true}) do |f| %>

    <p>
      <%= f.label :I_Want_to %>
      <%= f.select(:role, [['Post Jobs', 'employer'], ['Look for Jobs', 'employee']]) %>
    </p>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, :requred => true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :required => true %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :required => true %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.url_field :image, :multiple => false %>
    </p>
    <%= f.submit %>
  <% end %>
</div>
