<h3>Individual User:</h3>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Role: <%= @user.role_c %></li>
  <li>Member Since: <%= @user.created_at.strftime("%B '%y") %></li>

  <%= cl_image_tag(@user.image, :gravity=>"face", :crop => "fill", :width => 400, :height => 400) %>
</ul>

<!-- This will need to be jobs completed -->
<div>Jobs Posted: <%= @user.jobs.count%></div>
    <div>Last Job:
      <% if @user.jobs.count > 0 %>
      <%= time_ago_in_words(@user.jobs.last.created_at) %>
      <% end %> ago.
    </div>

<h5>Jobs from <%= @user.name %></h5>
      <ul>
        <% @user.get_sorted_jobs.reverse_each do |a| %>
            <li><%= link_to truncate(a.task_title, :length => 40), job_path( a ) %></li>
        <% end %>
      </ul>

<h5>Ratings for <%= @user.name %></h5>
      <ul>
        <% if @user.role_c == "Employee" %>
          <li>Number of ratings: <%= @user.ratings.count %></li>
        <% if @user.ratings.count > 0 %>
          <li>Average rating: <%= @user.ratings.average(:score).round(2) %> </li>
        <% end %>
          <% @user.ratings.each do |a| %>
            <li>Score: <%= a.score %></li>
            <li>Review: <%= a.body %></li>
          <% end %>
        <% end %>

        <% if @user.role_c == "Employer" %>
          <!-- <li>Number of ratings: <%#= @user.jobs.ratings.count %></li>

        <%# if @user.jobs.ratings.count > 0 %>
          <li>Average rating: <%#= @user.jobs.ratings.average(:score).round(2) %> </li>
        <%# end %> -->

          <% @user.jobs.each do |j| %>
            <% j.ratings.each do |k| %>
              <li>Score: <%= k.score %></li>
              <li>Review: <%= k.body %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
