<h5>See all ratings</h5>



<ul>
  <% @ratings.each do |rating| %>
    <% if rating.is_user_rating? %>
      This is a User rating,
      it was attached to
      <%= link_to( rating.get_user.name, rating.get_user ) %>
      <br>
      This user has the following ratings:
      <ul>
        <% rating.get_user.ratings.each do |r| %>
          <li><%= r.body %></li>
        <% end %>
      </ul>


    <% else %>
      This is a Job rating,
      it was attached to
      <%= link_to( rating.get_job.task_title, rating.get_job ) %>
      <br>
      This job has the following ratings:
      <ul>
        <% rating.get_job.ratings.each do |r| %>
          <li><%= r.body %></li>
        <% end %>
      </ul>
    <% end %>
    <br />
    <%= rating.to_json %>
    <br>
    <br>
    <br>
  <% end %>

</ul>


<ul>
  <%# @rateable.each do |a| %>
    <li>
        <!-- <p>User: </%= a.user.name %></p> -->
        <!-- <p>Rating: </%= a.ratings.score %></p> -->

    </li>
  <%# end %>
</ul>
