<h5>See all ratings</h5>

<p> Rate the user<br>
  <%= radio_button_tag(:rating, "1") %> One Star<br>
  <%= radio_button_tag(:rating, "2") %> Two Stars<br>
  <%= radio_button_tag(:rating, "3") %> Three Stars<br>
  <%= radio_button_tag(:rating, "4") %> Four Stars<br>
  <%= radio_button_tag(:rating, "5") %> Five Stars<br>
</p>
