<!DOCTYPE html>
<html>
<head>
  <title>CasualHire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>

  <nav>
    <% unless @current_user.present? %>
      <%= link_to("Sign Up", new_user_path) %> |
      <%= link_to("Log In", login_path()) %> |
    <% else %>

      <% if @current_user.admin? %>
        <%= link_to("All Users", users_path) %>
      <% end %>

      <% if @current_user.employer? %>
        <%= link_to("Create a Job", new_job_path) %> |
      <% end %>

      You're logged in as <%= @current_user.role_c %> <%= link_to(@current_user.name, @current_user) %> |
      <%= link_to("Log Out", logout_path(), :method => :delete ) %>
      <div class="chip">
      <img src="images/yuna.jpg" alt="Contact Person">
      Jane Doe
  </div>
    <% end %>
  </nav>

  <% if flash[:success] %>
    <p class="flash">
      <%= flash[:success] %>
    </p>
  <% end %>

  <% if flash[:error] %>
    <p class="flash">
      <%= flash[:error] %>
    </p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
